.App {
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  width: var(--page-width);
  /* overflow: hidden; */
  
  padding: 4rem 0;
  margin: auto;
}

.App > * {
  margin-bottom: 50px;
  width: 100%;
}