:root {
    --foreground-color: #333333;
    --background-color: white;
    --alt-color: darkgrey;
    --side-margin: 20rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: white;
        --background-color: #333333;
        --alt-color: darkgrey;
    }
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    /* Set colors */
    background-color: var(--background-color);
    color: var(--foreground-color);
}

#scroll-wrapper {
    position: relative;
    z-index: 9999;
}

#scroll-wrapper > div > div > * {
    display: flex;
    align-items: center;
    width: auto !important;
    margin: 0 var(--side-margin);
}

#background-wrapper {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

#background-wrapper * {
    z-index: 1;
}

#pagenum-wrapper {
    right: 20px;
    top: 50vh;
    transform: translateY(-50%);
    position: fixed;
}