#Carousel {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

#Carousel-Pages > * {
    padding: var(--vert-padding)
             var(--horz-padding)
             var(--vert-padding)
             var(--horz-padding);
    height: calc( 100vh - (var(--vert-padding) * 2));
}