#Extras {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#Extras div {

    justify-content: center;
}

#Skills {
    display: inline-block;
    align-self: center;
}
.Skill-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
}

.Skill-group .Skill-title {
    margin: 0;
}

.Skill-group ul, .Interests-group ul {
    /* padding-left: 15px; */
}

#Acknowledgements a {
    color: var(--white);
    text-decoration: underline;
}