@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;display=swap");
:root {
    --background-color: white;
    --foreground-color: #333333;
    --alt-color: darkgrey;
    --page-width: 1024px;
}


/* Dark mode */

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background-color: #333333;
        --foreground-color: white;
        --alt-color: #555555;
    }
}


/* Screen sizes */

@media (max-width: 1100px) {
    :root {
        --page-width: 768px;
    }
}

@media (max-width: 800px) {
    :root {
        --page-width: 600px;
    }
    header {
        grid-template-columns: 30% auto !important;
    }
}

@media (max-width: 700px) {
    :root {
        --page-width: 500px;
    }
    #Extras {
        grid-template-columns: 100% !important;
    }
    header {
        grid-template-columns: 100% !important;
    }
    .App {
        padding: 2rem !important;
    }
}

@media (max-width: 600px) {
    :root {
        --page-width: 85%;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    overflow-x: hidden;
}