@font-face {
    font-family: "PassifilleItalic";
    src: url("./fonts/PassifilleItalic.ttf");
}


#Name-Container {
    display: grid;
    grid-template-columns: auto auto;
    align-self: center;
    align-content: center;
}

#Name-Container #Name, 
#Name-Container #Title, 
#Name-Container #Bio {
    margin: .5rem 0 .5rem;
}

#Name-Container #Name {
    font-family: 'PassifilleItalic', sans-serif;
    font-size: 4rem;
}

#Name-Container #Title {
    font-weight: 100;
    font-size: 1.5rem;
}

#Name-Container #Bio {
    font-size: 1rem;
    font-weight: 300;
    width: 50%;
}

#Name-Container #Pfp {
    margin: auto;
}

.Divison {
    width: 100px;
    clear:both;
    margin: 1.5rem 0 1.5rem;
}
