.project-img {
    width: 50%;
    max-height: 650px;
}

.project-links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.project-links li {
    margin: 0.5rem 1rem;
}

.project-link {
    color: rgb(var(--alt-color));
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.project-link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;

    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: relative;
    background: rgb(var(--alt-color));;

    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.project-link:hover::after {
    width: 100%;
    left: 0%;    
}