.Grabber {
    width: 100vw !important;
    margin-bottom: 10px;
}

#Projects {
    touch-action: none;
    pointer-events: all;
    white-space: nowrap;
    overflow-x: visible;
    width: auto;
    z-index: 1;
}

#Projects > * {
    display: inline-block;
    vertical-align: middle;
}

.Animate {
    transition: all 0.5s ease-in-out;
}

.Grab-start > * {
    cursor: grabbing;
}
.Grab-stop > * {
    cursor: grab;
}

/* To allow for vertical centering of inline-block items */
#Projects:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: calc((100vw - var(--page-width)) / 2)
}

.Grab-controls {
    width:  var(--page-width);
    margin: 15px auto 0;
}

.Grab-controls > button {
    float: right;
    margin-left: 10px;

    background-color: var(--alt-color);
    color: var(--foreground-color);
    font-size: 1rem;
    padding: 5px 5px;
    height: 27px;

    /* To remove default button styles */
    outline:0;
    border: none;
    border-radius: 0;
}

.Grab-controls > button:active {
    background-color: lightgray;
}